.navbar {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

.c1p-logo{
	max-height: 70px;
	padding: 0 0 10px 0;
}

/*CAROUSEL*/
.c1p-carousel-title{
	font-size: 8vh;
	text-transform: lowercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.c1p-carousel-subtitle{
	font-size: 3vh;
	text-transform: lowercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

div.c1p-carousel img.c1p-carousel-img {
	min-width: 100vw;
	height: 70vh;
	object-fit: cover;
}

.c1p-carousel-item{
	height: 70vh;
	width: 100vw;
}

.c1p-carousel{
	height: 70vh;
	overflow: hidden;
}

/*CONTENT CONTAINER*/
.c1p-content-container{
	min-height: 70vh;
}

/*PORTFOLIO CONTAINER*/
div.c1p-content-container div.c1p-body-container div.c1p-img-link img {
    max-width: 100%;
}

div.c1p-content-container div.c1p-body-container div.c1p-img-link {
    padding-left: 0;
    padding-right: 0;
}

/*FOOTER*/
.c1p-footer {
	background-color: #030D16;
	color: white;
	padding: 5vh 0 2vh 0;
    bottom: 0;
    min-height: 20vh;
}

.c1p-footer-h1 {
	font-size: 1.5em;
	text-transform: uppercase;
	color: #f7f7f7;
}

.c1p-footer-h2 {
	font-size: 1.1em;
	text-transform: uppercase;
	color: #f7f7f7;
}

.c1p-strapline{
	font-size: 1em;
	color: #ccc;
	
}

.c1p-footer-contact{
	margin: 5vh 0;
}

.c1p-social-button{
	width: 5vh;
	height: 5vh;
	background-size: 5vh, 5vh;
	background-repeat: no-repeat;
	margin: 0 auto 1vh auto;
	display: block;
}

.c1p-facebook {
	background-image: url('assets/facebook_online_social_media.svg');
}

.c1p-mail {
	background-image: url('assets/email_mail_envelope_send_message.svg');
}

.c1p-phone{
	background-image: url('assets/phone_logo_social_media.svg');
}

.c1p-facebook:hover {
	background-image: url('assets/online_social_media_facebook.svg');
}

.c1p-mail:hover {
	background-image: url('assets/mail_email_envelope_send_message.svg');
}

.c1p-phone:hover {
	background-image: url('assets/logo_social_media_phone.svg');
}

.c1p-social {
	text-align: center;
	padding: 0 0 2vh 0;
	font-size: 0.8em;
}

/*CONTENT TEXT*/
.c1p-intro {
	background-color: #191e23;
	color: #f7f7f7;
	padding: 7vh 0 5vh 0;
	font-size: 1.2em;
}

/*FONTS*/
body {
	font-family: Lato,Verdana,sans-serif;
	letter-spacing: 1px;
	font-weight: 300;
}

/*SECTION DIVIDER*/
