.navbar {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

.c1p-logo{
	max-height: 70px;
	padding: 0 0 10px 0;
}

.c1p-carousel-img{
	width: 100vw;
}

.c1p-carousel-item{
	min-height: 70vh;
	min-width: 100vw;
}

.c1p-carousel{
	height: 70vh;
	overflow: hidden;
}

.c1p-footer{
	background-color: #030D16;
	color: white;
	padding: 2vh 0;
}