.navbar {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

.c1p-logo{
	max-height: 70px;
	padding: 0 0 10px 0;
}

/*CAROUSEL*/
div.c1p-carousel img.c1p-carousel-img {
	min-width: 100vw;
	height: 70vh;
	object-fit: cover;
}

.c1p-carousel-item{
	height: 70vh;
	width: 100vw;
}

.c1p-carousel{
	height: 70vh;
	overflow: hidden;
}

/*CONTENT CONTAINER*/
.c1p-content-container{
	min-height: 70vh;
}

/*FOOTER*/
.c1p-footer {
	background-color: #030D16;
	color: white;
	padding: 0 0 2vh 0;
    bottom: 0;
    min-height: 20vh;
}

/*CONTENT TEXT*/
.c1p-intro {
	background-color: #030D16;
	color: white;
	padding: 5vh 0;
	font-size: 1.2em;
}