.navbar-header {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

.c1p-logo{
	max-height: 70px;
	padding: 0 0 10px 0;
}

/*CAROUSEL*/
.c1p-carousel-title{
	font-size: 8vh;
	text-transform: lowercase;
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
}

.c1p-carousel-subtitle{
	font-size: 3vh;
	text-transform: lowercase;
	font-family: Lato,Verdana,sans-serif;
	font-weight: 700;
}

div.c1p-carousel img.c1p-carousel-img {
	min-width: 100vw;
	height: 70vh;
	object-fit: cover;
}

.c1p-carousel-item{
	height: 70vh;
	width: 100vw;
}

.c1p-carousel{
	height: 70vh;
	overflow: hidden;
}

/*CONTENT CONTAINER*/
.c1p-content-container{
	min-height: 70vh;
}

.c1p-content-wrapper{
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding: 0 2vw;
}

.c1p-about-photo{
	width: 100%;
}
.c1p-content-text{
	padding: 5vh 0 15vh 1vw;
}

/*PORTFOLIO CONTAINER*/

@media screen and (max-width: 768x) {

	.c1p-portfolio-img {
		width: 80vw;
		height: 80vw;
	}
}

.c1p-portfolio-img {
    width: 25vw;
	height: 40vh;
	object-fit: cover;
	overflow: hidden;
}

div.c1p-img-link {
    padding-left: 0;
    padding-right: 0;
}

div.c1p-img-link button{
	padding: 0;
	border-width: 0px;
}

.c1p-portfolio-view-img{
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto 0 auto;
}

.c1p-page-header{
	text-align: center;
	margin: 0 auto 10vh auto;
}

.c1p-portfolio-content{
	margin: auto;
	text-align: center;
	margin: 4vh 0 2vh 0;
}

.c1p-testemony-author{
	font-weight: 700;
}
/*FOOTER*/
.c1p-footer {
	background-color: #030D16;
	color: white;
	padding: 7vh 0 2vh 0;
    bottom: 0;
    min-height: 20vh;
}

.c1p-footer-h1 {
	font-size: 1.5em;
	text-transform: uppercase;
	color: #f7f7f7;
}

.c1p-footer-h2 {
	font-size: 1.1em;
	text-transform: uppercase;
	color: #f7f7f7;
}

.c1p-strapline{
	font-size: 1em;
	color: #ccc;
	
}

.c1p-footer-contact{
	margin: 5vh 0;
}

.c1p-social-button{
	width: 5vh;
	height: 5vh;
	background-size: 5vh, 5vh;
	background-repeat: no-repeat;
	margin: 0 auto 1vh auto;
	display: block;
}

.c1p-facebook {
	background-image: url('../assets/facebook_online_social_media.svg');
}

.c1p-mail {
	background-image: url('../assets/email_mail_envelope_send_message.svg');
}

.c1p-phone{
	background-image: url('../assets/phone_logo_social_media.svg');
}

.c1p-facebook:hover {
	background-image: url('../assets/online_social_media_facebook.svg');
}

.c1p-mail:hover {
	background-image: url('../assets/mail_email_envelope_send_message.svg');
}

.c1p-phone:hover {
	background-image: url('../assets/logo_social_media_phone.svg');
}

.c1p-social {
	text-align: center;
	padding: 0 0 2vh 0;
	font-size: 0.8em;
}

/*CONTENT TEXT*/
.c1p-intro {
	background-color: #191e23;
	color: #f7f7f7;
	padding: 7vh 0 5vh 0;
	font-size: 1.2em;
}

.c1p-text-emphasis {
	font-size: 16px;
	font-weight: 400;
	color: #6b6b6b;
	width: 70%;
	margin: 20px auto;
	text-align: center;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	
}

/*FONTS*/
body {
	font-family: Lato,Verdana,sans-serif;
	letter-spacing: 1px;
	font-weight: 300;
}

.c1p-h1{
	color: #494949;
	font-size: 2.5em;
	text-transform: uppercase;
}

.c1p-portfolio-heading{
	color: #494949;
}
.c1p-portfolio-h1{
	font-size: 2.5em;
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	
}

.c1p-portfolio-h2{
	font-size: 1.5em;
	margin: 2vh 10vh;
}

/*SECTION DIVIDER*/

/* CARD */
.card{
	padding: 2vw;
	margin: 2vw;
	border: 1px solid grey;
}

.card-title-h2{
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 1.5em;
}